.profile-picture{
    margin-top: 6rem;
    margin-left: 6rem;
    height: 26.46rem;
    width: 21.168rem;
}
.secttion{
    height: 40rem;
}
.About-image-style{
    margin-top: 6rem;
    margin-left: 0rem;
    height: 26.664rem;
    width: 40rem;
}